@page
@model EMigrant.App.Frontend.Pages.PaginasMigrante.CrearMigranteModel
@using EMigrant.App.Dominio
@{
}
<h1>Crear Migrante</h1>

<form method="POST">
    <div>
        <label asp-for="migrante.Nombres" class="form-label">Nombres:</label>
        <input type="text" asp-for="migrante.Nombres" class="form-control" placeholder="Ingresa Nombres" />
    </div><br>

    <div>
        <label asp-for="migrante.Apellidos" class="form-label">Apellidos:</label>
        <input type="text" asp-for="migrante.Apellidos" class="form-control" placeholder="Ingresa Apellidos" />
    </div><br>

    <div>
        <label asp-for="migrante.TipoDocumento" >Tipo de Documento:</label>
        <select asp-for="migrante.TipoDocumento" asp-items="Html.GetEnumSelectList<TipoServicio>()" class="form-select" aria-label=".form-select-lg example"></select>
    </div><br>

    <div>
        <label asp-for="migrante.NDocumento" class="form-label">No° Documento:</label>
        <input type="text" asp-for="migrante.NDocumento" class="form-control" placeholder="Ingresa No° Documento"/>
    </div><br>

    <div>
        <label asp-for="migrante.PaisOrigen" class="form-label">Pais de Origen:</label>
        <input type="text" asp-for="migrante.PaisOrigen" class="form-control" placeholder="Ingresa Pais de Origen"/>
    </div><br>

    <div>
        <label asp-for="migrante.FechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
        <input type="text" asp-for="migrante.FechaNacimiento" class="form-control" placeholder="Ingresa Fecha de Nacimiento"/>
    </div><br>

    <div>
        <label asp-for="migrante.Telefono" class="form-label">Telefono:</label>
        <input type="text" asp-for="migrante.Telefono" class="form-control" placeholder="Ingresa No° Telefono"/>
    </div><br>

     <div>
        <label asp-for="migrante.Correo" class="form-label">Correo:</label>
        <input type="text" asp-for="migrante.Correo" class="form-control" placeholder="Ingresa Correo"/>
    </div><br>

    <div>
        <label asp-for="migrante.DireccionActual" class="form-label">Direccion Actual:</label>
        <input type="text" asp-for="migrante.DireccionActual" class="form-control" placeholder="Ingresa Direccion actual"/>
    </div><br>

    <div>
        <label asp-for="migrante.Ciudad" class="form-label">Ciudad:</label>
        <input type="text" asp-for="migrante.Ciudad" class="form-control" placeholder="Ingresa Ciudad"/>
    </div><br>

    <div>
        <label asp-for="migrante.SituacionLaboral" class="form-label">Situacion Laboral:</label>
        <select asp-for="migrante.SituacionLaboral" asp-items="Html.GetEnumSelectList<TipoServicio>()" class="form-select" aria-label=".form-select-lg example"></select>
    </div><br>
    <button type="submit" class="btn btn-primary ml-3">Crear Migrante</button>
</form>
